<template>
  <div class="content event-page">
    <h1>{{data.name}} • {{ data.venue }}</h1>
    <h2>{{ dateFormat(data.date) }}</h2>

    <div class="meta">
      <div v-if="data.link">
        Event Info: <a v-bind:href="data.link">{{data.link}}</a>
      </div>
    </div>

    <img v-if="data.image" v-bind:src="data.image"/>

    <Content />

  </div>
</template>

<script>
export default {
  name: 'EventPage',
  computed: {
      data () {
          let page = this.$page.frontmatter;
          return {
              name: page.name,
              venue: page.venue,
              date: page.date,
              image: page.image,
              link: page.link
          };
      }
  },
  methods: {
    dateFormat(_date){
      let date = (new Date(_date.split(' ')[0])).toUTCString().split(' ');
      let weekday = date[0].replace(/,/g,'');
      let month = date[2];

      switch(date[2]){
          case 'Jan':   month='January';    break;
          case 'Feb':   month='February';   break;
          case 'Mar':   month='March';      break;
          case 'Apr':   month='April';      break;
          case 'May':   month='May';        break;
          case 'Jun':   month='June';       break;
          case 'Jul':   month='July';       break;
          case 'Aug':   month='August';     break;
          case 'Sep':   month='September';  break;
          case 'Oct':   month='October';    break;
          case 'Nov':   month='November';   break;
          case 'Dec':   month='December';   break;
          default: return ' ';
      }

      let day = date[1] < 10 ? date[1].slice(1) : date[1];
      let year = date[3];

      let string = `${month} ${day}, ${year}`;
      return string;
    }
  }
}
</script>

<style scoped>
.event-page img{
    max-width:80%;
    max-height: 60vh;
    margin: 2rem 0;
}
.event-page h2{
  margin-bottom: 1rem;
}
</style>
